.container-detail {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: flex-start;
    max-width: 1000px;
}

.container-img {
    border: 5px solid aquamarine;
    border-radius: 10px;
}

.container-img img {
    width: 400px;
    border-radius: 10px;
}